.confirm-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;      /* viewport width */
  height: 100vh;     /* viewport height */
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

.confirm-modal {
  background: #fff;
  padding: 20px 30px;
  border-radius: 15px;
  max-width: 400px;
  width: 90%;
  box-sizing: border-box;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.confirm-message {
  margin-bottom: 20px;
  font-size: 16px;
  color: #333;
}

.confirm-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.btn-cancel,
.btn-confirm {
  padding: 8px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
}

.btn-cancel {
  background-color: #ddd;
  color: #333;
}

.btn-cancel:hover {
  background-color: #ccc;
}

.btn-confirm {
  background-color: #d81212;
  color: #fff;
}

.btn-confirm:hover {
  background-color: #c9302c;
}
